body {
color:black;
background-color:white;
background:url(images/fond2.jpg) no-repeat center fixed; 
background-size: cover;
}

.logo{
	background-image: url(logo.png);
	background-repeat: no-repeat;
	width: 80px;
	height: 103px;
	padding: 0;
	padding: 10px 30px;
}

.bouton{
	padding: 10px 30px;
}

.bouton2{
	padding: 2vw 3vw;
	background: #fcff16;
	color: black;
	float:left;
	margin:2px;
	cursor:pointer;
	width: 30%;
}

.bouton2:hover{
	background: black;
}

#Histoire{
	padding: 2vw 3vw;
	background: #fcff16;
	color: black;
	float:left;
	margin:2px;
	cursor:pointer;
	width: 30%;
}
#Histoire:hover{
	background: gold;
}

#Géographie{
	padding: 2vw 3vw;
	background: #10a6fb;
	color: black;
	float:left;
	margin:2px;
	cursor:pointer;
	width: 30%;
}
#Géographie:hover{
	background: #4a6ef3
}

#Littérature{
	padding: 2vw 3vw;
	background:#9e7303;
	color: black;
	float:left;
	margin:2px;
	cursor:pointer;
	width: 30%;
}
#Littérature:hover{
	background: #7c4735;
}

#Divertissement{
	padding: 2vw 3vw;
	background:  #ff178e;
	color: black;
	float:left;
	margin:2px;
	width: 30%;

}
#Divertissement:hover{
	background: #d328a4;
}

#Sciences{
	padding: 2vw 3vw;
	background: #13a30e;
	color: black;
	float:left;
	margin:2px;
	cursor:pointer;
	width: 30%;
}
#Sciences:hover {
 	background-color: green;
}

#Sports{
	padding: 2vw 3vw;
	background: #f85c08;
	color: black;
	float:left;
	margin:2px;
	cursor:pointer;
	width: 30%;
}
#Sports:hover{
	background: #dc8f00;
}

#Autres{
	padding: 2vw 3vw;
	background: linear-gradient(0deg, red, orange, yellow, green, blue, indigo, violet);
	color: white;
	float:left;
	margin:2px;
	cursor:pointer;
	width: 30%;
}
#Autres:hover {
 	background: linear-gradient(0deg, violet, indigo, blue, green, yellow, orange,red);
}

#bouton-rep{
	padding: 2vw 3vw;
	background: black;
	color: white;
	float:left;
	margin:2px;
	cursor:pointer;
	position: absolute;
	top: 60%; /* poussé de la moitié de hauteur du référent */ 
	left: 50%; /* poussé de la moitié de hauteur du référent */ 
	transform: translateX(-50%); /* tiré de la moitié de sa propre hauteur */
	transform: translateZ(-50%); /* tiré de la moitié de sa propre hauteur */
}
#bouton-rep:hover{
	background: grey;
}

#bouton-newQ{
	padding: 2vw 3vw;
	background: lightgrey;
	color: black;
	float:left;
	margin:2px;
	cursor:pointer;
	position: absolute;
	top: 70%; /* poussé de la moitié de hauteur du référent */ 
	left: 50%; /* poussé de la moitié de hauteur du référent */ 
	transform: translateX(-50%); /* tiré de la moitié de sa propre hauteur */
	transform: translateZ(-50%); /* tiré de la moitié de sa propre hauteur */
}
#bouton-newQ:hover{
	background: grey;
}
