#container {
    position: relative;
    height: 400px;
    width: 400px;
}

p {
    z-index: 100;
    position: absolute;    
    color: white;
    font-size: 24px;
    font-weight: bold;
    bottom: 5px;
}

#left {
    left: 20px;
}

#right {
    right: 20px;
}